@import 'style/Palette.scss';

.note {
  overflow: auto;

  padding: 0.5em;

  background-color: $primary;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);

  .value {
    // Used to apply a minimum height. See https://www.w3schools.com/Css/css_inline-block.asp
    display: inline-block;
  }
}

.note:hover {
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
  transition: 0.6s;

  .note-delete {
    visibility: visible;
  }
}

.note-delete {
  background-color: crimson;
  color: white;
  border-radius: 50%;
  border-width: 0;
  float: right;

  cursor: pointer;

  visibility: hidden;
}
